<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parrot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" fill="outline"
    color="success" (click)="record()"
    [disabled]="isListening()">
    <ion-icon slot="start" name="mic-circle-outline"></ion-icon>
    Record
  </ion-button>

  <ion-textarea [value]="recognizedText()"
    placeholder="Recognized text will appear here..."
    readonly></ion-textarea>

</ion-content>
